@import url(https://fonts.bunny.net/css?family=outfit:400,700);

:root {
  /* DESIGN ELEMENTS */
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(212, 45%, 89%);
  --grey: hsl(220, 15%, 55%);
  --dark-navy: hsl(218, 44%, 22%);
  --blue: #2e80fa;
  --font-size: 15px;
  --mobile-size: 375px;
  --desktop-size: 1440px;
  --font-family: 'Outfit', sans-serif;

  /* HEADER & FOOTER */
  --primary: var(--dark-navy);
  --secondary: var(--blue);
}

body {
  font-family: var(--font-family);
  background-color: var(--light-grey);
}
