---
import site from '../../data/site.json';

const {author, website} = site;
---

<div class="attribution shadow skew">
    <p>Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.</p>
    <p>Coded by <a href={website} target="_blank">{author}</a>.</p>
</div>

<style>
    .attribution { 
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        margin-block: 2em;
        padding: 2em;
        /* color: var(--dark); */
        background-color: var(--gray-9);
        border-radius: 1rem;
        border-inline: solid 0.5em var(--accent-alt);
        width: fit-content;
        max-width: 80%;
        margin-inline: auto;
        text-align: center;

        a {
            color: var(--accent); 
        }
    }
</style>