---
import ChallengeLayout from "../layouts/ChallengeLayout.astro";
import Card from "../components/Card.astro";
---

<ChallengeLayout>
    <section class="center">
        <Card
            qrPath="/src/assets/qr-code.svg"
            backgroundPath="/src/assets/oval.svg"
            headingText="Improve your front-end skills by building projects"
            bodyText="Scan the QR code to visit Frontend Mentor and take your coding skills to the next level">
        </Card>        
    </section>

</ChallengeLayout>