---
import site from '../data/site.json';

const {author} = site;
const today = new Date();
---

<footer>
	<div class="flex">
		<p>{author} &copy; {today.getFullYear()}</p>
		<p>stay curious</p>
	</div>
</footer>
<style>
	.flex {
		font-family: var(--font-family-mono);
		display: flex;
		flex-direction: column;
		padding-block: 4em;
		color: var(--gray-light);
		text-align: center;
	}

	p:last-child {
		font-style: italic;
		font-size: smaller;
	}
</style>
