---
import ChallengeLayout from "../../layouts/ChallengeLayout.astro";
import Image from "astro/components/Image.astro";
import qr from '../../assets/image-qr-code.png';

const title = 'QR code component'
---

<ChallengeLayout title={title}>
    <h1 class="title">{title}</h1>
    <section class="solution center">
        <div class="card">
            <div class="qr">
                <Image src={qr} alt="qr code" class="qr-code" height="288" width="288"/>
            </div>
            <div class="text">
                <p class="bold">Improve your front-end skills by building projects</p>
                <p>Scan the QR code to visit Frontend Mentor and take your coding skills to the next level</p>
            </div>
        </div>
    </section>

</ChallengeLayout>

<style>
    @import url(https://fonts.bunny.net/css?family=outfit:400,700);
    
    .solution {
        --white: hsl(0, 0%, 100%);
        --light-gray: hsl(212, 45%, 89%);
        --grayish-blue: hsl(220, 15%, 55%);
        --dark-blue: hsl(218, 44%, 22%);
        --font-size: 15px;
        --mobile-size: 375px;
        --desktop-size: 1440px;

        font-family: 'Outfit', sans-serif;
        background-color: var(--grayish-blue);
        color: var(--dark-blue);
    }

    .card {
        background-color: var(--white);
        border-radius: 0.5rem;
        width: 320px;
        padding: 16px;
        margin-block-end: 24px;
    }
    .qr-code {
        border-radius: 0.5rem;
        margin-inline: auto;
    }

    .bold {
        font-weight: 700;
    }
</style>